@CHARSET "ISO-8859-1";

#lblrememberme, #rememberme{
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 0px;
}

#errormsg{
	color: #c70000;
	font-weight: bold;
	line-height: 28px; 
}

#divLoginForm{
	text-align: center;
}

#main{
	display: inline-table;
	width: 350px;
	text-align: left; 
}
 