@CHARSET "ISO-8859-1";


#divInfo label{
	display: inline-block;
	padding: 5px;
}

#divInfo .year{
	width: 70px;
}

#divInfo .month{
	width: 60px;
}

#btnExport{
	margin-top: -10px;
}

#divShipemnts .custom-combobox-input{
	 
	height: 20px !important;
	
	display: inline-block !important;
	 
	padding: 4px 6px !important;

	font-size: 14px !important;
	line-height: 20px !important;
	color: #555 !important;
	vertical-align: middle !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
	
}

 
#divSubmit{
	margin-left: 20px;
}

 
  
.success{
	background-image: url("../../../images/check.png");
	background-repeat: no-repeat;
	display: inline-block;
	height: 32px;
	color: #018A06;
	padding-left: 28px;
	font-size: 14px;
	font-weight: bold;
	line-height: 32px;
	vertical-align: middle;
}
 
.ui-menu-item{
	font-size: 12px;
}
.custom-combobox{
	font-size: 12px;
}

.ui-datepicker { 
	z-index: 1000 !important;
}

.ui-autocomplete {
	overflow-y: scroll;
	overflow-x: hidden;	
	max-height: 200px;
}

* html .ui-autocomplete { /* IE max- */
	height: expression(this.scrollHeight >   200 ?   "200px" :   "auto");
}