@CHARSET "ISO-8859-1";

#nick_search{
	margin-top: 10px;
	width: 150px;
}

.stt{
	width: 3px;
}

.nick{
	width: 100px;
	
}

.receiver{
	width: 120px;
}

.sm{
	width: 100px;
}

.city{
	width: 80px;
}

.email{
	width: 100px;
}

.tel{
	width: 100px;
}

.updated{
	width: 100px;
}

#divShipemnts .custom-combobox-input{
	 
	height: 20px !important;
	
	display: inline-block !important;
	 
	padding: 4px 6px !important;

	font-size: 14px !important;
	line-height: 20px !important;
	color: #555 !important;
	vertical-align: middle !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
	
}

 
#divSubmit{
	margin-left: 20px;
}




.ui-menu-item{
	font-size: 12px;
}
.custom-combobox{
	font-size: 12px;
}

.ui-datepicker { 
	z-index: 1000 !important;
}

.ui-autocomplete {
	overflow-y: scroll;
	overflow-x: hidden;	
	max-height: 200px;
}

* html .ui-autocomplete { /* IE max- */
	height: expression(this.scrollHeight >   200 ?   "200px" :   "auto");
}